<VirtualHost *:80>
    ServerName ${SERVERNAME_AGORA}
    ServerAdmin webmaster@localhost
    DocumentRoot /dades/html

    <Directory /dades/html/>
        Options -Indexes +MultiViews +FollowSymLinks
        AllowOverride all
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined
</VirtualHost>
